.footer {
    background-color: #6278F7;
    background-image: url('../../../public/images/fundo.png');
    color: white;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: 60px;
}

.footer .redesSociais img{
    margin-right: 32px;
}

.footer div{
    padding: 20px 0px;
}